.wrap {
  max-width: 960px;
  margin: 0 auto;
}

header,
footer {
  padding: 30px 0;
  text-align: center;
}

.delete-button {
  margin-right: 30px;
}

.add-button {
  &__wrap {
    margin-top: 30px;
  }
}

.container {
  &__wrap {
    margin: 30px 0;
  }
}
